

{% extends './layouts/_app.html.twig' %}

{% block content %}
    <div {{ react_component('ChapterEditPage', { 'fullName': 'number' }) }}>
        Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>
{% endblock %}